bw
localdev
update.sh
badass.sh
.metadata
.project
.DS_Store
target
.classpath
.settings
.metadata
eclipse-target
activemq-data
.metadata
**/.springBeans
**/bin
*~
**/.clover
out
*.iml
.idea
plugins
stacktrace.log
null
